<div class="container">

<div class="well">
<h2>Registrate en Dalemotor</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>


  <div style= "margin-top:20px"><%= f.label :contrase単a %><br />
  <%= f.password_field :contrase単a %></div>

  <br>

  <div><%= f.label :confirma_contrase単a %><br />
  <%= f.password_field :confirma_contrase単a %></div>
  <br>

  <div><%= f.submit "Registrate", :class =>'btn btn-primary'  %></div>
<% end %>
<br>

<%= render "devise/shared/links" %>
<div/>
<div/>