<div class="container">


<%= link_to 'Agregar nuevo vehículo', new_pin_path, :class => 'btn btn-primary', :style => 'color:white' %>

  <h1>Listado de vehículos</h1>



        <% @pins.each do |pin| %>
        <div class="col-md-3">
        <div class="thumbnail">

      
        <%= pin.description %>
        <%= pin.text %>
        
        <br>
        <%= image_tag(pin.photo) %>
        <%= link_to 'Ver', pin, :class => 'btn btn-primary', :style => 'color:white' %>
        <%= link_to 'Editar', edit_pin_path(pin), :class => 'btn btn-primary', :style => 'color:white' %>
        <%= link_to 'Borrar', pin, :class => 'btn btn-danger', :style => 'color:white', method: :delete, data: { confirm: '¿Estas seguro?' } %>
        </div>
        </div>

        <% end %>
      
  

</div>
</div>
