<div class="container">
  <h1>Listado de vehículos</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Foto</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.description %></td>
        <td><%= pin.text %></td>
        <td><%= image_tag (pin.photo, :class => 'thumbnail') %></td>
        <td><%= link_to 'Ver', pin, :class => 'btn btn-primary', :style => 'color:white' %></td>
        <td><%= link_to 'Editar', edit_pin_path(pin), :class => 'btn btn-primary', :style => 'color:white' %></td>
        <td><%= link_to 'Borrar', pin, :class => 'btn btn-danger', :style => 'color:white', method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Agregar nuevo vehículo', new_pin_path, :class => 'btn btn-primary', :style => 'color:white' %>
</div>
